@import 'reset'; //no need to include the extension

$font-stack:    Helvetica, sans-serif;
$primary-color: #999;
$link-color: BlueViolet;
$secondary-color: lightblue;
$third-color: red;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
  color: $third-color;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $secondary-color;
    }

    li { display: inline-block; }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: $link-color;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { 
	@include border-radius(10px); 
	width: 80%;
	border-color: $primary-color;
	border-style: dashed;
	border-width: 3px;
	padding: .5em;

}

.center {
	margin-left: 50%;
	margin-right: auto;
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: orange;
}

.container { width: 100%; }


article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}